:root {
  --hover-color: #00338a;
  --theme-color: #3172b9;
}

/* fonts */
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-300.woff') format('woff');
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
}





/* ========================================================================= */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid rgba(49, 114, 185, 0.2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
}

.button {
  display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: var(--theme-color);
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  transform: translate(2px, 2px);
}

.subtitle {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.section-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #787878;
}





/* ========================================================================= */
/* header */
.header {
  height: 110px;
  border-bottom: 1px solid #e4e4e4;
}

.header__container{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  align-self: flex-end;
  margin: 0 auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  padding-bottom: 43px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
}

.nav__item_isactive {
  border-bottom: 5px solid var(--theme-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: #1c1c1c;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: var(--theme-color);
}

.header__button {
  margin-left: 40px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  padding: 18px 36px;
}





/* ========================================================================= */
/* section 1 */
.hero {
  background: url(/img/Base.jpg) right center no-repeat white;
  background-size: cover;
  border-bottom: 1px solid #e4e4e4;
}

.hero__container {
  padding-top: 120px;
  padding-bottom: 130px;
}


.hero__content {
  max-width: 45%;
}

.hero__title {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: #1c1c1c;
}

.hero__text {
  margin-bottom: 36px;
  line-height: 25px;
}

.hero__action {
  display: inline-block;
}

.hero__button {
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  padding: 22px 49px;
}

.hero__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  font-size: 11px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  color: #787878;
  text-align: center;
}

.hero__icon {
  display: inline-block;
  margin-right: 10px;
  background: url(/img/SSL-icon.svg) center center no-repeat transparent;
  background-size: contain;
  height: 17px;
  width: 14px;

}





/* ========================================================================= */
/* section 2 whatwedo */
.whatwedo {
  padding-top: 225px;
  padding-bottom: 170px;
  border-bottom: 1px solid #e4e4e4;
}

.whatwedo__title {
  text-align: center;
  margin-bottom: 36px;
}

.whatwedo__text {
  margin-bottom: 55px;
  text-align: center;
}

.whatwedo__item {
  padding: 0 20px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.whatwedo__item:hover {
  background-color: var(--theme-color);
}

.whatwedo__svg {
  margin: 61px 0 33px 0;
}

.whatwedo__item-title {
  display: block;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 20px;
}

.whatwedo__item-text {
  margin-bottom: 64px;
  color: #787878;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.whatwedo__item:hover .whatwedo__item-title,
.whatwedo__item:hover .whatwedo__item-text {
  color: white;
}

.whatwedo__svg path {
  transition: fill 0.2s ease;
}

.whatwedo__item:hover .whatwedo__svg path {
  fill: white;
}

.whatwedo__item-title,
.whatwedo__item-text {
  transition: color 0.2s ease;
}




/* ========================================================================= */
/* section 3 ourHappyClients */
.clients__{
  padding-top: 97px;
  padding-bottom: 160px;
  border-bottom: 1px solid #e4e4e4;
}

.clients__title {
  margin-bottom: 43px;
}

.clients__col {
  display: flex;
}

.clients__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 57px 45px 0 37px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients__item-text {
  color: #787878;
  font-size: 14px;
  line-height: 25px;
}

.clients__client {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 37px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.clients__client-avatar {
  margin-right: 18px;
}

.clients__client-name-container {
  display: flex;
  flex-direction: column;
  transform: translateY(-3px);
}

.clients__client-name {
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
}

.clients__client-description {
  font-size: 14px;
  color: rgba(120, 120, 120, 0.6);
}





/* ========================================================================= */
/* section 4 contacts */
.contacts {
  padding-top: 70px;
  padding-bottom: 167px;
  border-bottom: 1px solid #e4e4e4;
}

.contacts__title {
  margin-bottom: 120px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__icon {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(/img/Contacts/gps.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 29px;
}

.contacts__icon-gps {
  background-size: 19px 26px;
  background-image: url(/img/Contacts/gps.svg);
}

.contacts__icon-phone {
  background-size: 26px 26px;
  background-image: url(/img/Contacts/phone.svg);
}

.contacts__icon-mail {
  background-size: 29px 19px;
  background-image: url(/img/Contacts/mail.svg);
}

.contacts__item-title {
  display: inline-block;
  margin-bottom: 44px;
  padding-right: 50px;
}

.contacts__item-text {
  width: 207px;
  font-size: 14px;
  color: #787878;
  line-height: 1.8;
}

.contacts__link {
  color: #787878;
  transition: color 0.2s ease;
}

.contacts__link:hover {
  color: #1c1c1c;
}





/* ========================================================================= */
/* section 5 form */
.waiting {
  padding: 120px 0;
  border-bottom: 1px solid #e4e4e4;
}

.waiting__title {
  text-align: center;
  margin-bottom: 28px;
}

.waiting__text {
  text-align: center;
  margin-bottom: 60px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1050px;
  margin: 0 auto;
}

.input, .form__button {
  padding: 22px 30px;
  max-height: 60px;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 30px;
}

.input::placeholder {
  color: #787878;
}

.input {
  flex-basis: 250px;
  min-width: 0;
  font-weight: 300;
  color: #1c1c1c;
  border: 1px solid #dadada;
}

.name, .mail {
  margin-right: 19px;
}

.form__button {
  flex-basis: 230px;
  margin-left: 32px;
  font-weight: normal;
  text-align: center;
  color: white;
  border: none;
  background-color: var(--theme-color);
  cursor: pointer;
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.form__button:hover {
  background-color: var(--hover-color);
}

.form__button:active {
  transform: translate(2px, 2px);
}

.input:hover {
  outline: 3px solid var(--theme-color);
}





/* ========================================================================= */
/* footer */
.footer {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__left {
  display: inherit;
  align-items: inherit;
  margin-right: auto;
}

.footer__logo {
  margin-right: 26px;
}

.footer__coopyright {
  font-size: 12px;
  line-height: 1;
  font-weight: normal;
  color: #787878;
}

.footer__right {
  display: inherit;
  align-items: inherit;
}

.footer__nav {
  margin-right: 60px;
}

.footer__nav-list {
  display: flex;
  align-items: inherit;
}

.footer__nav-item {
  font-size: 14px;
}

.footer__nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer__nav-link {
  color: #787878;
  transition: color 0.2s ease;
}

.footer__nav-link:hover {
  color: #1c1c1c;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__item:nth-child(2) {
  transform: translateY(-1px);
}

.social__svg path {
  transition: fill 0.2s ease;
}

.social__link:hover .social__svg path {
  fill: #1c1c1c;
}
